<p id = "notice"></p>
<div class = "container px-5 px-sm-0">
  <div class = "row">
    <div class = "col-lg-3"></div>
    <div class = "col-lg-6 px-3 mx-auto">
      <h4>ご注文ありがとうございました！</h4>
    </div>
  </div>
</div>
